ion-button {
    width: 250px;
    height: 50px;
    font-size: 13pt;
    margin-top: 15px;
    text-transform: uppercase;
}

.btn-round {
    width: 80px;
    height: 80px;
}

ion-icon {
    font-size: 40px;
}