<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Test Cognitivo - Fijación</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size=12>
                <ion-text color="primary">
                    <h1 class="ion-text-uppercase bold">Repita las palabras</h1>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size=12>
                <ion-text>
                    <h4 *ngFor="let item of repuesta.tasks">{{ item.description }}</h4>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size=12>
                <ion-text>
                    <h4>Primero toque el boton escuchar y luego el de hablar para decir las palabas.</h4>
                </ion-text>
            </ion-col>
        </ion-row>
        <app-info-consulta-service-grupo [primaryApp]="primaryApp" [erroresServicio]="erroresServicio" (eventoError)="eventoError($event)"></app-info-consulta-service-grupo>
        <ion-row>
            <ion-col size=3>
                <ion-fab-button name='btn-escuchar' id="btn-escuchar" (click)="escuchar()" [disabled]="reproduirAudio">
                    <ion-icon name="play-outline"></ion-icon>
                </ion-fab-button>
            </ion-col>
            <ion-col size=3>
                <ion-fab-button name="btn-hablar" id="btn-hablar" (click)="hablar()">
                    <ion-icon name="mic-outline"></ion-icon>
                </ion-fab-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button expand="block" shape="round" (click)="setFijacion()">
        SIGUIENTE
    </ion-button>
    <ion-button routerLink="/test/calculo" shape="round" expand="block" color="primary">SKIP</ion-button>

</ion-content>