<mobi-header [titulo]="repuesta.name"></mobi-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size=12>
                <ion-text color="primary">
                    <h1 class="ion-text-uppercase bold">Repita las palabras</h1>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size=12>
                <ion-text>
                    <h4 *ngFor="let item of repuesta.tasks">{{ item.description }}</h4>
                </ion-text>
            </ion-col>
        </ion-row>
        <app-info-consulta-service-grupo [primaryApp]="primaryApp" [erroresServicio]="erroresServicio" (eventoError)="eventoError($event)"></app-info-consulta-service-grupo>
        <ion-row class="centrar">
            <ion-col>
                <mobi-boton [name]="'btn-hablar'" [icono]="'mic-outline'" [tipoBoton]="'fab'" (click)="hablar()" [forma]="'round'"></mobi-boton>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<div class="centrar margin-botones">
    <mobi-boton [textoAMostrar]="'Siguiente'" [forma]="'round'" (click)="setMemoria()"></mobi-boton>
</div>