.aling-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hijo {
    line-height: 300px;
}

.flex {
    display: flex;
}

.valing {
    min-height: calc(100vh - 350px);
}