<mobi-header [titulo]="repuesta.name"></mobi-header>

<ion-content class="ion-padding">
    <ion-grid>
        <mobi-descripcion *ngFor="let item of repuesta.tasks" [textoAmotrar]="item.description"></mobi-descripcion>
        <app-info-consulta-service-grupo [primaryApp]="primaryApp" [erroresServicio]="erroresServicio" (eventoError)="eventoError($event)"></app-info-consulta-service-grupo>
        <ion-row class="centrar">
            <ion-col>
                <div class="aling-center">
                    <div class="hijo">
                        <mobi-boton [name]="'btn-hablar'" [icono]="'mic-outline'" [tipoBoton]="'fab'" (click)="hablar()" [forma]="'round'" [btnFabSolo]="true"></mobi-boton>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<div class="centrar margin-botones">
    <mobi-boton [textoAMostrar]="'Siguiente'" [forma]="'round'" (click)="setMemoria()"></mobi-boton>
</div>