img {
    margin-top: 25%;
    margin-bottom: 2%;
    width: 150px;
}

ion-item.item-has-focus>ion-label,
ion-item.item-has-focus>ion-input
{
    color: black !important;
}
a{
    color: #fff !important;
}
ion-item.item-has-focus>ion-label {
    color: gray !important;
}