ion-content {
    background-color: #7D329F;
}

img {
    width: 150px;
    margin-bottom: 20px;
}

a,
ion-label {
    color: #fff !important;
}

ion-item.item-has-focus>ion-label {
    color: #fff !important;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.valing {
    min-height: calc(100vh - 100px);
}