<mobi-header [titulo]="'Ingrese a su cuenta'" [urlAVolver]="'/principal'"></mobi-header>
<ion-progress-bar type="indeterminate" *ngIf="cargando"></ion-progress-bar>
<ion-content color="secondary">
    <ion-grid class="centrar">
        <ion-row>
            <ion-col size=12>
                <img src="/assets/img/logo.png" alt="MobiusApp">
            </ion-col>
        </ion-row>
        <!--<ion-item color="danger" *ngIf="errorCode">
            <ion-col size="12">
                {{error}}
            </ion-col>
        </ion-item>-->
        <app-info-consulta-service-grupo [primaryApp]="primaryApp" [erroresServicio]="erroresServicio" (eventoError)="eventoError($event)"></app-info-consulta-service-grupo>
        <form (ngSubmit)="login(formLogin)" #formLogin="ngForm">
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Email</ion-label>
                        <ion-input type="email" name="email" value="{{user.email}}" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" [(ngModel)]="user.email" required minlength="5" maxlength="50"></ion-input>
                    </ion-item>
                    <ion-item color="danger" *ngIf="formLogin.submitted && (formLogin.controls['email'].errors)">
                        <ion-label>
                            Email inválido
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Password</ion-label>
                        <ion-input type="password" name="password" [(ngModel)]="user.password" required minlength="6" maxlength="16"></ion-input>
                    </ion-item>
                    <ion-item color="danger" *ngIf="formLogin.submitted && (formLogin.controls['password'].errors)">
                        <ion-label>
                            Contraseña inválida
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-button shape="round" expand="block" color="primary" type="submit">INGRESAR</ion-button>
                </ion-col>
            </ion-row>
        </form>
        <ion-row>
            <ion-col size="12">
                <a routerLink="/login/olvidoPassword">¿Olvidó su contraseña?</a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <a routerLink="/registrar">¿No tienes cuenta?</a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>