<mobi-header [titulo]="'Iniciar Sesión'" [urlAVolver]="'/principal'"></mobi-header>
<ion-progress-bar type="indeterminate" *ngIf="cargando"></ion-progress-bar>
<ion-content class="ion-padding" color="secondary">
    <ion-grid>
        <div class="valing ion-align-items-center ion-justify-content-center flex">
            <div>
                <ion-row>
                    <ion-col class="flex ion-justify-content-center" size="12">
                        <img src="/assets/img/logo.png " alt="MobiusApp ">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <mobi-form [nombrePantalla]=" 'login' " [UrlProxPantalla]=" '/test/introduccion' " [NombreBotonSubmit]=" 'INICIAR SESIÓN' " (Cargando)="mostrarCargando($event) "></mobi-form>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" class="flex ion-justify-content-center">
                        <a routerLink="/login/olvidoPassword ">¿Olvidó su contraseña?</a>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" class="flex ion-justify-content-center">
                        <a routerLink="/registrar ">¿No tienes cuenta?</a>
                    </ion-col>
                </ion-row>
            </div>
        </div>

    </ion-grid>
</ion-content>