<mobi-header [titulo]="'RESULTADOS DEL TEST'"></mobi-header>
<ion-content class="ion-padding">
  <ion-grid>
    <mobi-descripcion [textoAmotrar]="'Haz realizado todos los ejercicios del Test'"></mobi-descripcion>
    <br><br>
    <ion-row>
      <ion-col col="12">
        <ion-list>
          <ion-item>
            <ion-label>Puntaje:</ion-label>
            <ion-text>{{finalizacionResponse.score}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Resultado:</ion-label>
            <ion-text>{{finalizacionResponse.obtenerDescDementiaLevel(finalizacionResponse.dementiaLevel)}}</ion-text>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="centrar">
      <ion-col size="12">
          <mobi-boton [textoAMostrar]="'Ir a Juegos'" [forma]="'round'" [tipoBoton]="'submit'"></mobi-boton>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
