<mobi-header [titulo]="'Resultado del test'"></mobi-header>
<ion-content class="ion-padding">
  <ion-grid>
    <mobi-descripcion [textoAmotrar]="'¡Haz completado el Test!'"></mobi-descripcion>
    <mobi-descripcion [textoAmotrar]="getMensaje()"></mobi-descripcion>
    <ion-row class="centrar" style="height: 55vh;">
      <ion-col size="12">
        <img src="assets/img/imagen_rompecabeza.png" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-row class="centrar">
  <ion-col size="12">
      <mobi-boton [textoAMostrar]="'Ir a Juegos'" [forma]="'round'" [link]="'/juegos/home'"></mobi-boton>
  </ion-col>
</ion-row>