<div *ngIf="mostrarCargando()" class="contErrores">
  <!--<div class="cargando" *ngIf="erroresServicio.espera()">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>-->
  <div class="errorCarga" *ngIf="erroresServicio.espera() == false && mostrarErrores == true">
    <!--<ul>-->
      <app-info-consulta-service [ejecucionServicio]="error" (reintento)="reintentar(error)" *ngFor="let error of erroresServicio.listadoErrores()"></app-info-consulta-service>
    <!--</ul>-->
  </div>
</div>