ion-input {
    background-color: #ffffff;
    width: 15%;
    height: 90px;
    display: flex;
    border: solid;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    font-size: 250% !important;
    text-align: center;
    color: #510f7a;
    margin: 1%;
}

.fondoblanco {
    margin-top: 100px;
}