<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Atención</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
<br/>
<p>
  {{ descripcion }}
 </p>
 <form (ngSubmit)="verificar(formAtencion)" #formAtencion="ngForm">
  <ion-item color="danger" *ngIf="formAtencion.submitted && (formAtencion.controls['res1'].errors || formAtencion.controls['res2'].errors || formAtencion.controls['res3'].errors || formAtencion.controls['res4'].errors || formAtencion.controls['res5'].errors)">
    <ion-label>
      Debe completar todos los campos.
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-input type="text" maxlength="1" [(ngModel)]="respuesta[0]" name="res1" #res1="ngModel" required></ion-input>

    <ion-input type="text" maxlength="1" [(ngModel)]="respuesta[1]" name="res2" #res2="ngModel" required></ion-input>

    <ion-input type="text" maxlength="1" [(ngModel)]="respuesta[2]" name="res3" #res3="ngModel" required></ion-input>

    <ion-input type="text" maxlength="1" [(ngModel)]="respuesta[3]" name="res4" #res4="ngModel" required></ion-input>

    <ion-input type="text" maxlength="1" [(ngModel)]="respuesta[4]" name="res5" #res5="ngModel" required></ion-input>
  </ion-item>
  <br/>
  <ion-button type="submit" shape="round" expand="block" color="primary">Siguiente</ion-button>
  <ion-button routerLink="/test/visualizacion" shape="round" expand="block" color="primary">SKIP</ion-button>

</form>
  </ion-grid>
</ion-content>