<!--<div *ngIf="esInputText()">
    <ion-item>
        <ion-label position="{{positionLabel}}" color="{{colorLabel}}">{{nombreLabel}}</ion-label>
        <ion-input type="{{descInput()}}" name="{{nameInput}}" value="{{valueInput}}" [(ngModel)]="valueInput" required minlength="3" maxlength="50"></ion-input>
    </ion-item>
</div>
<div>
    <ul>
        <li>
            positionLabel: {{positionLabel}}
            colorLabel: {{colorLabel}}
            nombreLabel: {{nombreLabel}}
            tipoInput: {{descInput()}}
            nameInput: {{nameInput}}
            valueInput: {{valueInput}}
        </li>
    </ul>
</div>-->
