<mobi-header [titulo]="nameTest"></mobi-header>
<ion-content class="ion-padding">
    <ion-grid>
        <ion-text>
            <h4>{{ descripcionTest }}. </h4>
        </ion-text>
        <ion-text>
            <h4>{{ descripcion }}.</h4>
        </ion-text>

        <ion-row>
            <img src="assets/img/lectura.png" alt="imagen" width="400px">
        </ion-row>
        <ion-row>
            <form (ngSubmit)="verificar(formLectura)" #formLectura="ngForm">
                <ion-item color="danger" *ngIf="formLectura.submitted && (formLectura.controls['res1'].errors)">
                    <ion-label>
                        Debe Completar todos los campos.
                    </ion-label>
                </ion-item>
                <ion-text>
                    <h4>Indique el numero de la persona correcta. </h4>
                </ion-text>
                <ion-item>
                    <ion-label>Respuesta: </ion-label>
                    <ion-input type="number" maxlength="1" [(ngModel)]="respuesta[0]" name="res1" #res1="ngModel" required></ion-input>
                </ion-item>

                <mobi-boton [textoAMostrar]="'Siguiente'" [forma]="'round'" [tipoBoton]="'submit'"></mobi-boton>
            </form>
        </ion-row>
    </ion-grid>
</ion-content>