ion-slides{
    height: 80%;
}

li{
    text-align: left;
}

ion-card{
    width: 80%;
    height: 80%;
}

ion-button{
margin-top: 5%;
}

p{
    font-weight: bold;
}

li{
    font-weight: bold;
}

ion-card-title{
    font-weight: bold;
    font-size: 200%;
}
