<mobi-header [titulo]="'Introducción'"></mobi-header>
<ion-content>
    <ion-grid>
       <!--<ion-slides pager="true">
            <ion-slide> 
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Test Cognitivo</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <p><br/>El test cognitivo en que nos basamos es Mini Mental cuyo primer autor principal es el Dr. Marshal Folstei<br/><br/> El test comprende una serie de preguntas y la realización de algunas acciones por parte de la persona evaluada
                            que llevará entre 5-10 minutos<br/><br/> Sus resultados permiten tener una valoración de cribado o despistaje de su estado cognitivo en distintas áreas que se pueden relacionar con diferentes síntomas cognitivos<br/>
                        </p><br/>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Test Cognitivo</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <p><br/>El test se divide en 5 categorías:</p>
                        <ul>
                            <li>Orientación</li>
                            <li>Fijación</li>
                            <li>Atención y cálculo</li>
                            <li>Memoria</li>
                            <li>Lenguaje y praxias</li>
                        </ul><br/>
                        <p>Para aplicar esta prueba se recomienda hacerlo en un lugar cómodo, confortable y libre de distractores</p><br/>
                        <p>Este ambiente debe permitir que el evaluado se encuentre seguro y sea capaz de concentrarse en la tarea sin nada que distraiga su atención de ella</p>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Test Cognitivo</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <p><br/>Cabe recordar que es una prueba de cribado y, en ningún caso, se puede realizar ningún diagnóstico solo con ella<br/><br/> Se recomienda que de todas formas visite a su médico de confianza.
                        </p>
                    </ion-card-content>
                </ion-card>
           </ion-slide>
       </ion-slides>-->
       <ion-row class="ion-justify-content-start">
           <ion-col>
            <ion-slides pager="true">
                <ion-slide>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>Test Cognitivo</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <p><br/>El test cognitivo en que nos basamos es Mini Mental cuyo primer autor principal es el Dr. Marshal Folstei<br/><br/> El test comprende una serie de preguntas y la realización de algunas acciones por parte de la persona evaluada
                                que llevará entre 5-10 minutos<br/><br/> Sus resultados permiten tener una valoración de cribado o despistaje de su estado cognitivo en distintas áreas que se pueden relacionar con diferentes síntomas cognitivos<br/>
                            </p><br/>
                        </ion-card-content>
                    </ion-card>
                </ion-slide>
                <ion-slide>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>Test Cognitivo</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <p><br/>El test se divide en 5 categorías:</p>
                            <ul>
                                <li>Orientación</li>
                                <li>Fijación</li>
                                <li>Atención y cálculo</li>
                                <li>Memoria</li>
                                <li>Lenguaje y praxias</li>
                            </ul><br/>
                            <p>Para aplicar esta prueba se recomienda hacerlo en un lugar cómodo, confortable y libre de distractores</p><br/>
                            <p>Este ambiente debe permitir que el evaluado se encuentre seguro y sea capaz de concentrarse en la tarea sin nada que distraiga su atención de ella</p>
                        </ion-card-content>
                    </ion-card>
                </ion-slide>
                <ion-slide>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>Test Cognitivo</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <p><br/>Cabe recordar que es una prueba de cribado y, en ningún caso, se puede realizar ningún diagnóstico solo con ella<br/><br/> Se recomienda que de todas formas visite a su médico de confianza.
                            </p>
                        </ion-card-content>
                    </ion-card>
                </ion-slide>
            </ion-slides>
           </ion-col>
       </ion-row>
        <ion-row class="centrar">
            <ion-col size="12">
                <mobi-boton [forma]="'round'" [textoAMostrar]="'comenzar test'" [link]="'/test/orientacion'"></mobi-boton>
            </ion-col>
        </ion-row>
        <!--<div class="centrar margin-botones">
            <mobi-boton [forma]="'round'" [textoAMostrar]="'comenzar test'" [link]="'/test/orientacion'"></mobi-boton>
        </div>-->
    </ion-grid>
</ion-content>