body {
    background-color: #ffffff;
}

h1{
    text-align: center;
}

#numeroInicial{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 350%;
    text-align: center;
    color: #ffffff;
    width: 15%;
    height: 15%;
    margin: 0 auto;
    background-color: #5d186b;
}