#paleta{
    display: flex;
    justify-content: center;
    text-align: center;
}

signature-pad{
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #510f7a;
}

#row-paleta{
    width: 90%;
    height: 500px;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    }

#bin{
    margin-top: 1%;
    margin-left: 5%;
    display: flex;
    justify-content: left;
    text-align: left;
    
    }

#boton{
    display: flex;
    justify-content: center;
    text-align: center;
        
}

ion-content{
    width: 90%;
    display: flex;
    justify-content: center;

}