<!-- SOLO INPUT TEXT, TEXTAREA, NUMBER, PASSWORD -->
<div *ngIf="tipo != 'button' && tipo != 'select' && tipo != 'image'">
    <div *ngFor="let tarea of tareas">
        <h4 *ngIf="nombreCategoria != 'orientacion' && nombreCategoria != 'visualizacion'">{{tarea.description}}</h4>

        <div *ngFor="let input of tarea.inputs; let i = index">
            <ion-item color="danger" *ngIf="formulario.submitted && (formulario.controls[nombreCategoria + i.toString()].errors)">
                <ion-label>
                    Debe Completar todos los campos.
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label *ngIf="nombreCategoria == 'orientacion'" position="floating" color="ligth"> {{ tarea.id }} - {{tarea.description}}</ion-label>
                <ion-label *ngIf="nombreCategoria == 'calculo'" position="floating" color="ligth">Respuesta: {{ i + 1 }}</ion-label>
                <ion-label *ngIf="label != ''" position="floating" color="ligth">{{label}}</ion-label>
                <ion-input type="{{input.type}}" *ngIf="nombreCategoria != 'orientacion'" [(ngModel)]="repuestas[i]" name="{{nombreCategoria}}{{i}}" minlength="{{longitudMinima}}" required="{{requerido}}" maxlength="{{longitudMaxima}}" (keyup)="enviarRepuesta()"></ion-input>
                <ion-input type="{{input.type}}" *ngIf="nombreCategoria == 'orientacion'" [(ngModel)]="repuestas[tarea.id - 1]" name="{{nombreCategoria}}{{i}}" minlength="{{longitudMinima}}" required="{{requerido}}" maxlength="{{longitudMaxima}}" (keyup)="enviarRepuesta()"></ion-input>
            </ion-item>
        </div>
    </div>
    <ion-button type="submit" shape="round" expand="block" color="primary">Siguiente</ion-button>
</div>

<!-- SOLO IMAGENES -->
<div *ngIf="tipo == 'image'">
    <img src="{{ pathServidor }}{{ recurso.fileName }}" alt="{{ recurso.fileName }}" height="{{alto}}" width="{{ancho}}">
</div>

<!-- SOLO BOTON -->
<div *ngIf="tipo == 'button' && tipoBoton == ''">
    <ion-fab-button id="{{ name }}">
        <ion-icon *ngIf="icono != ''" name="{{icono}}}"></ion-icon>
    </ion-fab-button>
</div>

<!-- SOLO BOTON SUBMIT -->
<div *ngIf="tipo == 'button' && tipoBoton == 'submit'">
    <ion-col size=12>
        <ion-button type="{{tipoBoton}}" shape="round" expand="block" color="primary">{{textoBoton}}</ion-button>
    </ion-col>
</div>

<!-- SOLO SELECT -->
<ion-item *ngIf="tipo == 'select' && listado.length > 0">
    <ion-label></ion-label>
    <ion-select placeholder="Select One" okText="Aceptar" cancelText="Cancelar">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
</ion-item>

<!-- SOLO BOTON PARA ESUCHAR -->
<ion-col size=3 *ngIf="tipo == 'button' && tipoBoton== 'escuchar'">
    <ion-fab-button name='btn-escuchar' id="btn-escuchar" [disabled]="deshabilitado" (click)="escuchar()">
        <ion-icon name="play-outline"></ion-icon>
    </ion-fab-button>
</ion-col>

<!-- SOLO BOTON PARA HABLAR -->
<ion-col size=3 *ngIf="tipo == 'button' && tipoBoton == 'hablar'">
    <ion-fab-button name="btn-hablar" id="btn-hablar" (click)="hablar()">
        <ion-icon name="mic-outline"></ion-icon>
    </ion-fab-button>
</ion-col>