<mobi-header [titulo]="'Dibujo'"></mobi-header>
<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-text>
                <h4 class="bold">{{ descripcionGame }} {{ descripcionTask }}</h4>
            </ion-text>
        </ion-row>
        <ion-row class="boton">
            <mobi-boton [forma]="'round'" *ngIf="imagenStatus" type="button" shape="round" expand="block" color="primary" (click)="ocultarImg()" [textoAMostrar]="'Ocultar imagen'"></mobi-boton>
        </ion-row>
        <ion-row class="boton">
            <mobi-boton [forma]="'round'" *ngIf="imagenStatus2" type="button" shape="round" expand="block" color="primary" (click)="mostrarImg()" [textoAMostrar]="'Ver imagen'"></mobi-boton>
        </ion-row>
        <ion-row id="imagen-row">
            <img id="imagenMostrar" *ngIf="imagenStatus" src='{{ imagenUrl }}' width="400px">
        </ion-row>
            <ion-row>
                <ion-text>
                    <h4 class="bold">Dibuje Aquí:</h4>
                </ion-text>
            </ion-row>
            <signature-pad id="paleta" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()">
            </signature-pad>
        <ion-row class="boton">
            <mobi-boton [forma]="'round'" type="button" shape="round" expand="block" color="primary" (click)="reset()" [textoAMostrar]="'Limpiar respuesta'"></mobi-boton>
        </ion-row>
        <ion-row class="boton">
            <mobi-boton [forma]="'round'" type="button" shape="round" expand="block" color="primary" (click)="finalizar()" [textoAMostrar]="'Finalizar'"></mobi-boton>
          </ion-row>
    </ion-grid>
</ion-content>

