h1{
    text-align: center;
}

ion-grid{
    height: 100%;
}

ion-col{
    width: 30%;
}

.botones{
    width: 150px;
}

ion-row{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex {
    display: flex;
}

.valing {
    min-height: calc(100vh - 350px);
}