<ion-content color="secondary">
    <ion-grid class="centrar">
        <ion-row>
            <ion-col size=12>
                <img src="/assets/img/logo.png" alt="MobiusApp">
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-button shape="round" expand="block" color="primary" routerLink="/login">INGRESAR</ion-button>

                <ion-button shape="round" expand="block" color="primary" routerLink="/registrar">REGISTRARSE</ion-button>

                <ion-button shape="round" expand="block" color="primary" routerLink="/test/dibujo">PRUEBA DIBUJO</ion-button>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>