<ion-content color="secondary">
    <ion-grid class="centrar">
        <ion-row>
            <ion-col size=12>
                <img src="/assets/img/logo.png" alt="MobiusApp">
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <mobi-boton [forma]="'round'" [link]="'/login'" [textoAMostrar]="'INGRESAR'"></mobi-boton>
                <mobi-boton [forma]="'round'" [link]="'/registrar'" [textoAMostrar]="'REGISTRARSE'"></mobi-boton>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>