.boton_imagen{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ion-row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.texto{
    display: flex;
    justify-content: left;
    text-align: left;
}