<mobi-header [titulo]="'Juegos'" [mostrarmenu]="true"></mobi-header>
<mobi-menu></mobi-menu>
<ion-content class="ion-padding" id="main">
    <ion-grid>
        <mobi-descripcion class="texto" [textoAmotrar]="'Categoria recomendada:'"></mobi-descripcion>
        <ion-row class="m-bottom">
            <img class="boton_imagen" src="assets/img/boton_{{categoriaRecomendadaTraducida}}.png" routerLink="/juegos/{{categoriaRecomendadaTraducida}}" alt="{{categoriaRecomendadaTraducida}}" width="350px" height="60px">
            <br><br>
        </ion-row>
        <mobi-descripcion class="texto" [textoAmotrar]="'Todas las categorias:'"></mobi-descripcion>
        <ion-row *ngFor="let cat of categoriasTraducidas">
            <img class="boton_imagen" src="assets/img/boton_{{cat}}.png" routerLink="/juegos/{{cat}}" alt="{{cat}}" width="350px">
        </ion-row>
    </ion-grid>
</ion-content>