<mobi-header [titulo]=ori.name></mobi-header>
<ion-progress-bar type="indeterminate" *ngIf="cargando"></ion-progress-bar>
<ion-content class="ion-padding">
    <ion-grid class="color-fondo-test-orientacion">
        <app-info-consulta-service-grupo [primaryApp]="primaryApp" [erroresServicio]="erroresServicio" (eventoError)="eventoError($event)"></app-info-consulta-service-grupo>
        <mobi-descripcion [textoAmotrar]="ori.description"></mobi-descripcion>
        <form (ngSubmit)="enviarDatosOrientacion(formOrientacion)" #formOrientacion="ngForm">
            <ion-row>
                <ion-col size="12">
                    <ion-item *ngFor="let task of ori.tasks" class="closed">
                        <ion-label position="floating" color="ligth">{{task.id}}&nbsp;{{task.description}}</ion-label>
                        <ion-input *ngFor="let input of task.inputs; let i=index" type="{{input.type}}" name="{{task.id}}" [(ngModel)]="respuesta[task.id]" required minlength="1" maxlength="50" (keyup)="obtenerRespuestas()"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="centrar">
                <ion-col size="12">
                    <mobi-boton [textoAMostrar]="'Siguiente'" [forma]="'round'" [tipoBoton]="'submit'" (click)="validarRespuestas()"></mobi-boton>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>