<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/test/introduccion"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ori.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-progress-bar type="indeterminate" *ngIf="cargando"></ion-progress-bar>
<ion-content>
  <ion-grid class="color-fondo-test-orientacion">
    <ion-row>
     <ion-col size="12">
      <ion-item>
        <p>
          {{ori.description}}
        </p>
      </ion-item>
     </ion-col>
    </ion-row>
    <app-info-consulta-service-grupo [primaryApp]="primaryApp" [erroresServicio]="erroresServicio" (eventoError)="eventoError($event)"></app-info-consulta-service-grupo>
    <form (ngSubmit)="enviarDatosOrientacion(formOrientacion)" #formOrientacion="ngForm">
      <ion-row>
        <ion-col size="12">
          <!--<ion-item *ngFor="let ori of ori.tasks">
            <ion-label position="floating" color="ligth">{{ori.id}}&nbsp;{{ori.description}}</ion-label>
            <ion-input *ngFor="let input of ori.inputs" type="{{input.type}}" name="ori.id" [(ngModel)]="ori.id" required minlength="4" maxlength="50"></ion-input>
          </ion-item>-->
          <ion-item *ngFor="let task of ori.tasks">
             <ion-label position="floating" color="ligth">{{task.id}}&nbsp;{{task.description}}</ion-label>
             <ion-input *ngFor="let input of task.inputs; let i=index" type="{{input.type}}" name="{{task.id}}" [(ngModel)]="respuesta[i]" required minlength="4" maxlength="50"></ion-input>
          </ion-item>
         <!--<ion-item color="danger" *ngIf="formOrientacion.submitted && (formOrientacion.controls['caca'].errors)">
            <ion-label>
                Campo Inválido
            </ion-label>
          </ion-item>-->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button shape="round" type="submit" expand="block" color="primary" (click)="validarForm()">Siguiente</ion-button>
          <ion-button routerLink="/test/fijacion" shape="round" expand="block" color="primary">SKIP</ion-button>

        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>