    /*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
    /* Core CSS required for Ionic components to work properly */
    
    @import "~@ionic/angular/css/core.css";
    /* Basic CSS for apps built with Ionic */
    
    @import "~@ionic/angular/css/normalize.css";
    @import "~@ionic/angular/css/structure.css";
    @import "~@ionic/angular/css/typography.css";
    @import '~@ionic/angular/css/display.css';
    /* Optional CSS utils that can be commented out */
    
    @import "~@ionic/angular/css/padding.css";
    @import "~@ionic/angular/css/float-elements.css";
    @import "~@ionic/angular/css/text-alignment.css";
    @import "~@ionic/angular/css/text-transformation.css";
    @import "~@ionic/angular/css/flex-utils.css";
    @font-face {
        font-family: 'arciform';
        src: url('/assets/font/arciform-webfont.eot');
        src: url('/assets/font/arciform-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/font/arciform-webfont.woff2') format('woff2'), url('/assets/font/arciform-webfont.woff') format('woff'), url('/assets/font/arciform-webfont.ttf') format('truetype'), url('/assets/font/arciform-webfont.svg#arciform_sansregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    body {
        background-color: #fff;
    }
    
    .color-fondo {
        background-color: #7D329F;
        height: 100%;
    }
    
    .centrar {
        text-align: center;
    }
    
    .bold {
        font-weight: 550;
    }
    
    ion-button,
    ion-header,
    ion-title,
    ion-card-title {
        font-family: 'arciform';
    }
    
    .margin-botones {
        margin-bottom: 20px;
    }
    
    .marginTop-20 {
        margin-top: 20px;
    }
    
    .position-bottom {
        /*position: absolute;*/
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        /*z-index: -1;*/
        z-index: -10;
    }
    
    body {
        position: relative;
        min-height: 100vh;
    }
    
    .fondoblanco {
        background: #fff;
        margin-top: 40px;
    }
    
    .closed {
        --highlight-background: transparent;
    }
    
    ion-item>ion-label,
    ion-item>ion-input {
        font-size: 14pt !important;
    }
    
    .margin-left-right {
        display: flex;
        justify-content: space-around;
    }
    
    // GOOGLE MAP PLACE AUTOCOMPLATE
    .pac-container {
        min-width: 312px !important;
        margin-left: -20px !important;
    }
    
    .pac-item-query,
    .pac-item {
        font-size: 13pt !important;
        color: #000;
    }
    
    .pac-item:hover {
        background-color: #c591dd;
    }
    
    .pac-icon {
        color: #000;
    }
    
    // TOAST
    ion-toast {
        --background: #eb445a;
        font-size: 14pt;
    }
    
    // SELECT 
    ion-select {
        font-size: 14pt;
    }