img {
    margin-top: 25%;
    margin-bottom: 2%;
    width: 150px;
}

ion-item.item-has-focus>ion-label,
ion-item.item-has-focus>ion-input,
a {
    color: gray !important;
}

.color-fondo-registro {
    background-color: #7D329F;
}

body{
    background-color: #54157C;
}