<mobi-header [titulo]="'Registrar'" [urlAVolver]="'/principal'"></mobi-header>
<ion-progress-bar type="indeterminate" *ngIf="cargando"></ion-progress-bar>
<ion-content class="ion-padding" color="secondary">
    <ion-grid class="centrar">
        <ion-row>
            <ion-col size=12>
                <img src="/assets/img/logo.png" alt="MobiusApp">
            </ion-col>
        </ion-row>
        <mobi-form [nombrePantalla]="'registro'" [NombreBotonSubmit]="'REGISTRAR'" [UrlProxPantalla]="'/login'"></mobi-form>
    </ion-grid>
</ion-content>