<mobi-header [titulo]="'Regístrese'" [urlAVolver]="'/principal'"></mobi-header>
<ion-progress-bar type="indeterminate" *ngIf="cargando"></ion-progress-bar>
<ion-content>
    <ion-grid class="color-fondo-registro centrar">
        <ion-row>
            <ion-col size=12>
                <img src="/assets/img/logo.png" alt="MobiusApp">
            </ion-col>
        </ion-row>
        <app-info-consulta-service-grupo [primaryApp]="primaryApp" [erroresServicio]="erroresServicio" (eventoError)="eventoError($event)"></app-info-consulta-service-grupo>
        <form (ngSubmit)="registro(formRegistro)" #formRegistro="ngForm">
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating" color="ligth">Nombre</ion-label>
                        <ion-input type="text" name="firstName" value="{{user.firstName}}" [(ngModel)]="user.firstName" required minlength="3" maxlength="50"></ion-input>
                    </ion-item>
                    <ion-item color="danger" *ngIf="formRegistro.submitted && (formRegistro.controls['firstName'].errors) && user.validarCamposVacios()">
                        <ion-label>
                            No ingreso el nombre
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Apellido</ion-label>
                        <ion-input type="text" name="lastName" [(ngModel)]="user.lastName" required minlength="3" maxlength="50"></ion-input>
                    </ion-item>
                    <ion-item color="danger" *ngIf="formRegistro.submitted && (formRegistro.controls['lastName'].errors) && user.validarCamposVacios()">
                        <ion-label>
                            No ingreso el apellido
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Correo electrónico</ion-label>
                        <ion-input type="email" name="patientEmail" [(ngModel)]="user.patientEmail" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" required minlength="5" maxlength="50"></ion-input>
                    </ion-item>
                    <ion-item color="danger" *ngIf="formRegistro.submitted && (formRegistro.controls['patientEmail'].errors)">
                        <ion-label>
                            No ingreso un correo válido
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Correo electrónico Guardián</ion-label>
                        <ion-input type="email" name="guardianEmail" [(ngModel)]="user.guardianEmail" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" required minlength="5" maxlength="50"></ion-input>
                    </ion-item>
                    <ion-item color="danger" *ngIf="formRegistro.submitted && (formRegistro.controls['guardianEmail'].errors)">
                        <ion-label>
                            Debe ser distinto el correo electrónico del guardián
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Fecha de nacimiento</ion-label>
                        <ion-icon name="calendar-outline" style="margin-left: 90%;"></ion-icon>
                        <ion-datetime [pickerOptions]="customPickerOptions" name="birthday" [(ngModel)]="user.birthday" displayFormat="DD/MM/YYYY"></ion-datetime>
                    </ion-item>
                    <ion-item color="danger" *ngIf="formRegistro.submitted && (formRegistro.controls['birthday'].errors)">
                        <ion-label>
                            No ingreso una fecha de nacimiento
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Contraseña</ion-label>
                        <ion-icon (click)="cambiarIcono()" *ngIf="cambiarIcono()" name="{{cambiarIcono()}}" style="margin-left: 90%;"></ion-icon>
                        <ion-input type="{{tipoInput}}" name="password" [(ngModel)]="user.password" required minlength="6" maxlength="16"></ion-input>
                    </ion-item>
                    <ion-item color="danger" *ngIf="formRegistro.submitted && (formRegistro.controls['password'].errors) && user.validarCamposVacios()">
                        <ion-label>
                            No ingreso la contraseña
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Repetir contraseña</ion-label>
                        <ion-icon (click)="cambiarIconoRepeat()" *ngIf="cambiarIconoRepeat()" name="{{cambiarIconoRepeat()}}" style="margin-left: 90%;"></ion-icon>
                        <ion-input type="{{tipoInput}}" name="passwordRepeat" [(ngModel)]="user.passwordRepeat" required minlength="6" maxlength="16"></ion-input>
                    </ion-item>
                    <ion-item color="danger" *ngIf="formRegistro.submitted && (formRegistro.controls['passwordRepeat'].errors) && user.validarCamposVacios()">
                        <ion-label>
                            No Ingreso la repetición de la contraseña
                        </ion-label>
                    </ion-item>
                    <ion-item color="danger" *ngIf="formRegistro.submitted && (formRegistro.controls['passwordRepeat'].errors) && user.password !== user.passwordRepeat" (onkeypress)="user.passwordCoinciden()">
                        <ion-label>
                            Las contraseñas no coinciden
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-button shape="round" expand="block" color="primary" type="submit" [disabled]="user.enviarForm()">REGISTRAR</ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>